POSTGRES_URL="postgres://postgres.bwayphqnxgcyjpoaautn:Z4gOx8JJMIQCX9bJ@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_USER="postgres"
POSTGRES_HOST="db.bwayphqnxgcyjpoaautn.supabase.co"
SUPABASE_JWT_SECRET="1hm860j6d71eX/5nMm+tLjAiaCYcslNRq0r9TllpCPQgf7CAv5uxImsQxpkKGalkTbUjhToofOGWNKwvhM2Czw=="
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ3YXlwaHFueGdjeWpwb2FhdXRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM3NDIwODQsImV4cCI6MjA2OTMxODA4NH0.bitD5oIU_-2umv4Jm5u9BRCmypxhLi47uMu6avrAGjk"
POSTGRES_PRISMA_URL="postgres://postgres.bwayphqnxgcyjpoaautn:Z4gOx8JJMIQCX9bJ@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
POSTGRES_PASSWORD="Z4gOx8JJMIQCX9bJ"
POSTGRES_DATABASE="postgres"
SUPABASE_URL="https://bwayphqnxgcyjpoaautn.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ3YXlwaHFueGdjeWpwb2FhdXRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM3NDIwODQsImV4cCI6MjA2OTMxODA4NH0.bitD5oIU_-2umv4Jm5u9BRCmypxhLi47uMu6avrAGjk"
NEXT_PUBLIC_SUPABASE_URL="https://bwayphqnxgcyjpoaautn.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ3YXlwaHFueGdjeWpwb2FhdXRuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mzc0MjA4NCwiZXhwIjoyMDY5MzE4MDg0fQ.yjO8ZeslT9c_kZfcw9F1VdZtSLNuJesdOT705EGxKsk"
POSTGRES_URL_NON_POOLING="postgres://postgres.bwayphqnxgcyjpoaautn:Z4gOx8JJMIQCX9bJ@aws-0-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"